<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
    <div class="post-meta">
            <p>本站总访问量<span id="busuanzi_value_site_pv"></span>次，本站访客数<span id="busuanzi_value_site_uv"></span>人次，本文总阅读量<span id="busuanzi_value_page_pv"></span>次</p>
    </div>
      <div class="footer-col">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col">
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col">
      <p><a href="/about">留言</a></p>
      </div>
      <div class="footer-col">
        <p><a href="/feed.xml">RSS</a></p>
      </div>
      {% if site.cnzz %}
        <div class="footer-col">
            <script type="text/javascript" src="https://s95.cnzz.com/z_stat.php?id=1257034842&web_id=1257034842"></script>
        </div>
      {% endif %}
       

    </div>

  </div>
  
</footer>
