<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
        <div class="footer-col">
            <script src="http://s95.cnzz.com/z_stat.php?id=1257034842&web_id=1257034842" language="JavaScript"></script>
        </div>
    </div>

  </div>
  
</footer>
